<section id="blogposts">
  {{#each blogPost as |blogPost|}}
    <div class="postItem col-md-12">
      <a href="/post/{{blogPost.id}}">
        <div class="card">
          <div class="card-body">
            <h1>{{blogPost.title}}</h1>
            <h6 class="card-subtitle text-muted">Username:
              {{blogPost.user.username}}</h6>
            <p class="card-text">{{this.content}}</p>
          </div>
        </div>
      </a>
    </div>
  {{/each}}
</section>